{% extends 'back.html.twig' %}

{% block title %}Ticket{% endblock %}
{% block body %}     
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


     <div class="content mt-3">
        <div class="animated fadeIn">
          
          <div class="row">
          
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                        <div class="stat-content dib">
                        <div class="stat-text">Total Profit</div>
                        <div class="stat-digit">1,012</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
         <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-text">New Customer</div>
                        <div class="stat-digit">961</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-layout-grid2 text-warning border-warning"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-text">Referrals</div>
                        <div class="stat-digit">2,781</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
         <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-link text-danger border-danger"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-text">Referrals</div>
                        <div class="stat-digit">2,781</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </div>

      <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Pie Chart</h4>
                                <div class="flot-container" style="width: 500px; height: 500px;">
                                   
                                    <div id="paymentChartContainer" style="height: 500px;"></div>

                                </div>
                            </div>
                        </div><!-- /# card -->
                    </div><!-- /# column -->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-3">Type of ticket purchasers</h4>
                            <div class="flot-container" style="width: 500px; height: 500px;">
                            <canvas id="myChart" style="width: 100%; height: 100%;"></canvas>
                            </div>
                            </div>
                            </div><!-- /# card -->
                        </div><!-- /# column -->

    </div>

    </div>
     </div>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Adults', 'Teenagers', 'Students'],
        datasets: [{
            data: [{{ totalAdult }}, {{ totalTeenager }}, {{ totalStudent }}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.7)',
                'rgba(54, 162, 235, 0.7)',
                'rgba(75, 192, 192, 0.7)',
            ],
        }]
    },
    options: {
        // Customize the appearance of the pie chart
    }


    
});
</script>
{% endblock %}