<!DOCTYPE html>
<html>
<head>
	<title>You Already Participated</title>
	<style>
		body {
			background-color: #f1f1f1;
			font-family: Arial, sans-serif;
			font-size: 18px;
		}

		h1 {
			color: #333;
			font-size: 36px;
			text-align: center;
			margin-top: 100px;
		}

		.container {
			background-color: #fff;
			border-radius: 10px;
			box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
			padding: 20px;
			margin: 0 auto;
			max-width: 600px;
			width: 90%;
		}

		p {
			color: #666;
			font-size: 24px;
			text-align: center;
			margin-top: 50px;
		}

		button {
			background-color: #4CAF50;
			border: none;
			border-radius: 5px;
			color: #fff;
			cursor: pointer;
			font-size: 18px;
			padding: 10px 20px;
			margin-top: 50px;
			display: block;
			margin: 0 auto;
			transition: background-color 0.3s ease;
		}

		button:hover {
			background-color: #3e8e41;
		}
	</style>
</head>
<body>
 <div class="container">
    <h1>There are no more slots</h1>
    <p>We're sorry, but it looks like all the places have been taken.</p>
    <a href="{{ path('app_event_front_index') }}"><button>Back to Home</button></a>
</div>
</body>
</html>
