{% extends 'base.html.twig' %}

{% block title %}Edit UserImages{% endblock %}

{% block body %}
    <h1>Edit UserImages</h1>

    {{ include('user_images/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_images_index') }}">back to list</a>

    {{ include('user_images/_delete_form.html.twig') }}
{% endblock %}
